/* CentralTelefonica.css */

.central-container-images.central-slide {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Cambiamos auto-fill a auto-fit */
    gap: 10px; /* Reducimos el espacio entre columnas */
    background: #0f295e;
    margin: 0 auto; /* Centramos el contenedor horizontalmente */
    max-width: 1400px; /* Limitamos el ancho del contenedor */
}


.central-container-images.central-slide .central-item {
    color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex; /* Usamos flexbox para alinear los elementos */
    flex-direction: column; /* Alineamos los elementos verticalmente */
    align-items: center; /* Centramos los elementos horizontalmente */
    text-align: left; /* Alineamos el texto a la izquierda */
}

.central-container-images.central-slide img {
    width: 80px; /* Tamaño de la imagen */
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
    order: -1; /* Mover la imagen arriba */
}

.central-container-images.central-slide h2 {
    font-size: 1.5rem;
    margin: 0; /* Eliminamos el margen superior del título */
}

.central-container-images.central-slide p {
    margin-bottom: 10px;
}

.central-container-images.central-slide ul {
    list-style-type: none;
    padding: 0;
}

.central-container-images.central-slide ul li {
    margin-bottom: 10px;
}

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 768px) {
    .central-container-images.central-slide {
        grid-template-columns: 1fr; /* Cambiamos a una sola columna en dispositivos pequeños */
    }

    .central-container-images.central-slide .central-item img {
        width: 60px; /* Tamaño de la imagen en dispositivos pequeños */
        margin-bottom: 10px;
    }

    .central-container-images.central-slide .central-item {
        padding: 10px; /* Reducimos el padding en dispositivos pequeños */
    }
}
/***********ancho*********/

.todo-width{
    /*width: 100%;*/
    background: #0f295e;
}