/* Piepagina.css */

.pie-pagina-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgray;
    padding: 1rem;
    /*width: 100%;*/
    bottom: 0; /* Colocarlo en la parte inferior */
    left: 0; /* Asegurar que esté a la izquierda */

}
